/my source code/ConceptNet5/kb/*.csv
*.class
/my source code/BlendVille/lib/jnumbers-master/benchmark.log
/my source code/Libraries/bin/CMakeLists.txt
/my source code/Libraries/bin/Makefile.in
/my source code/Libraries/bin/Makefile.mak
/my source code/Libraries/lib/dlv
/my source code/ConcreteWebServiceServer/.settings/org.eclipse.jdt.core.prefs
/my source code/Libraries/lib/jchart2d/doc/projnews.cache
/my source code/PatternMiner/run3/137.pdf
/my source code/PatternMiner/run3/183.pdf
/my source code/PatternMiner/run3/187.svg
/my source code/PatternMiner/run3/239.pdf
/my source code/PatternMiner/run3/312.svg
/my source code/PatternMiner/run3/324.svg
/my source code/PatternMiner/run3/360.pdf
/my source code/PatternMiner/run3/378.pdf
/my source code/PatternMiner/run3/396.pdf
/my source code/PatternMiner/run3/459.pdf
/my source code/PatternMiner/run3/470.pdf
/my source code/PatternMiner/run3/485.svg
/my source code/PatternMiner/run3/488.pdf
/my source code/PatternMiner/run3/Book1.xlsx
/my source code/PatternMiner/run4/00.pdf
/my source code/PatternMiner/run4/02.pdf
/my source code/PatternMiner/run4/04.pdf
/my source code/PatternMiner/run4/10.pdf
/my source code/PatternMiner/run4/34.pdf
/my source code/PatternMiner/run4/41.pdf
/my source code/PatternMiner/run4/42.pdf
/my source code/PatternMiner/run4/47.pdf
/my source code/PatternMiner/run4/51.pdf
/my source code/PatternMiner/run4/52.pdf
/my source code/PatternMiner/run4/56.pdf
/my source code/PatternMiner/run4/62.pdf
/my source code/PatternMiner/run4/196.pdf
/my source code/PatternMiner/run4/200.pdf
/my source code/PatternMiner/run4/207.svg
/my source code/PatternMiner/run4/235.pdf
/my source code/PatternMiner/run4/956.pdf
/my source code/PatternMiner/run4/2025.pdf
/my source code/PatternMiner/run4/2182.pdf
/my source code/PatternMiner/run4/2186.pdf
/my source code/PatternMiner/run4/2716.pdf
/my source code/PatternMiner/run4/Book2.xlsx
/my source code/ConceptNet5/kb/relations.xlsx
/my source code/Libraries/lib/high-scale-lib/Testing/NBHM_Tester/NBHM_Tester2.log
/my source code/Libraries/lib/high-scale-lib/Testing/NBHM_Tester/NBHMID_Tester2.log
/my source code/Libraries/lib/high-scale-lib/Testing/NBHM_Tester/NBHML_Tester2.log
/my source code/Libraries/lib/high-scale-lib/Testing/NBHS_Tester/nbhs_tester.log
/my source code/Libraries/lib/high-scale-lib/Testing/NBHS_Tester/nbsi_tester.log
/my source code/Libraries/lib/querykb/querykb/src/test/resources/conceptnet5v43_no_invalid_chars.csv
/my source code/PatternMiner/sapper_world_facts_v2.csv
/my source code/Libraries/bin/org/apache/commons/io/comparator/package.html
/my source code/Libraries/bin/org/apache/commons/io/filefilter/package.html
/my source code/Libraries/bin/org/apache/commons/io/input/package.html
/my source code/Libraries/bin/org/apache/commons/io/monitor/package.html
/my source code/Libraries/bin/org/apache/commons/io/output/package.html
/my source code/Libraries/bin/org/apache/commons/io/overview.html
/my source code/Libraries/bin/org/apache/commons/io/package.html
/my source code/Libraries/bin/org/apache/commons/io/serialization/package.html
/my source code/Libraries/bin/org/apache/commons/collections4/overview.html
/my source code/Libraries/lib/sikulix/*
/my source code/ConceptNet5/kb/kb.7z
/my source code/BlenderMO/mappings0.dt
/my source code/BlenderMO/mappings1.dt
/my source code/BlenderMO/mappings2.dt
/my source code/DomainSpotter/bin/.gitignore
/my source code/DomainSpotter/bin/jcfgonc/bridging/genetic/GeneticAlgorithmConfig.class
