/my source code/ConceptNet5/kb/*.csv
/my source code/ConceptNet5/kb/conceptnet5v31.csv
/my source code/DomainSpotter/generated inputspaces/generated inputspaces.7z
/my source code/MapperEnhanced/generated inputspaces for papper.7z
