/my source code/ConceptNet5/kb/conceptnet5v41.csv
/my source code/ConceptNet5/kb/conceptnet5v42.csv
/my source code/ConceptNet5/kb/conceptnet5v43.csv
/my source code/ConceptNet5/kb/conceptnet5v43_no_invalid_chars.csv
/my source code/ConceptNet5/kb/conceptnet5_clean.csv
/my source code/ConceptNet5/kb/conceptnet5_clean_unicode.csv
/my source code/ConceptNet5/kb/conceptnet5_original.csv
/my source code/ConceptNet5/kb/conceptnet5v2.csv
/my source code/ConceptNet5/kb/conceptnet5v3.csv
/my source code/ConceptNet5/kb/conceptnet5v31.csv
/my source code/DomainSpotter/generated inputspaces/generated inputspaces.7z
