node {
	fill-color: blue;
	size: 24px;
	text-size: 48;
	text-color: blue;
	text-font: verdana;
	text-style: normal;
}

node.blend {
	fill-color: #FF00FF;
}

edge {
	fill-color: black;
	size: 4px;
	text-size: 48;
	text-color: black;
	shape: angle;
	text-font: verdana;
	text-style: normal;
}

edge.red {
	fill-color: red;
	text-color: red;
}
